@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');
*{
  font-family: 'Poppins';
  

}
.App{
 
 width: 80%;
 margin: 0px auto;
 background-color: rgb(247, 213, 219);
 border-radius: 20px;
 padding-bottom: 20px;
}
h1{
  font-size: 10vh;
  border-bottom: 3px solid rgb(255, 8, 8);
 
}
.head{
 

 display: flex;
 align-items: center;
 justify-content: center;
  
}
.box{
  background-color: white;

  border-radius: 30px;
  margin: 20px 30px;
  padding: 20px 20px;
  padding-top: 1px;
  box-shadow: 0 8px 8px -4px rgb(16, 17, 17);
}
.secondary{
  color: rgb(159, 167, 175);
  line-height: 20px;
}
.secpara{
  margin: 2px;
 
}
.secpara span{
  color: black;
}